In [4]:
# Instalação das bibliotecas
import numpy as np
import pandas as pd

In [5]:
#new series
veg = pd.Series({'potato':3,'tomato':6,'chilly':2,'pumpkin':8, "carrot":10,"radish":4})
veg

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [6]:
veg.values

array([ 3,  6,  2,  8, 10,  4])

In [7]:
veg.index

Index(['potato', 'tomato', 'chilly', 'pumpkin', 'carrot', 'radish'], dtype='object')

In [8]:
veg.shape

(6,)

In [9]:
veg

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [10]:
#subset series
veg[0] #using position/index

C:\Users\user\AppData\Local\Temp\ipykernel_7864\447877519.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  veg[0] #using position/index

np.int64(3)

In [11]:
veg['carrot'] #using label

np.int64(10)

In [12]:
veg['pumpkin':'radish'] #range of records last range is included for label

pumpkin     8
carrot     10
radish      4
dtype: int64

In [13]:
veg[1:4] #Last range is excluded it will go till 3 only

tomato     6
chilly     2
pumpkin    8
dtype: int64

In [14]:
veg[['tomato','radish','pumpkin']]

tomato     6
radish     4
pumpkin    8
dtype: int64

In [15]:
veg['tomato':]

tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64

In [16]:
veg[:'pumpkin']

potato     3
tomato     6
chilly     2
pumpkin    8
dtype: int64

In [17]:
veg[1:4]

tomato     6
chilly     2
pumpkin    8
dtype: int64

In [18]:
veg[1::2]

tomato     6
pumpkin    8
radish     4
dtype: int64

In [ ]:
veg

In [ ]:
#iLoc/Loc
#Loc: Label base indexing
#iLoc : position based indexing

In [19]:
# veg.loc['tomato':'carrot']
veg['tomato':'carrot']

tomato      6
chilly      2
pumpkin     8
carrot     10
dtype: int64

In [ ]:
veg.iloc[0:4]
veg[0:4]

In [ ]:
veg>2 # boolean output

In [20]:
veg[veg>2] # filtered output

potato      3
tomato      6
pumpkin     8
carrot     10
radish      4
dtype: int64

In [ ]:
veg

In [ ]:
veg.head() # for to 5 elements

In [ ]:
veg.head(2) #top 2 elements

In [ ]:
veg.tail() # 5 from bottom

In [ ]:
veg.tail(1)

In [21]:
veg[2:5]

chilly      2
pumpkin     8
carrot     10
dtype: int64

In [22]:
# check any values belongs to the series
veg.isin(['onion'])

potato     False
tomato     False
chilly     False
pumpkin    False
carrot     False
radish     False
dtype: bool

In [26]:
veg.isin([2])

potato     False
tomato     False
chilly      True
pumpkin    False
carrot     False
radish     False
dtype: bool

In [28]:
veg[veg.isin([2,4])]

chilly    2
radish    4
dtype: int64

In [ ]:
# find unique values and their frequencies

In [29]:
new = pd.Series(list('abcd'*4))
new

0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [ ]:
#unique() : name of all unique records
#ninique(): count of unique records
#value_counts(): name of uniques records with their occurences

In [31]:
new.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [33]:
new.value_counts()

a    4
b    4
c    4
d    4
Name: count, dtype: int64

In [34]:
# Dealing with duplicates
new[new.duplicated()]

4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [35]:
new.drop_duplicates()

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
#sorting the data
#sort_values, sort_index

In [38]:
veg.sort_values()

chilly      2
potato      3
radish      4
tomato      6
pumpkin     8
carrot     10
dtype: int64

In [40]:
veg.sort_index()

carrot     10
chilly      2
potato      3
pumpkin     8
radish      4
tomato      6
dtype: int64

In [39]:
new.sort_values()

0     a
4     a
8     a
12    a
1     b
5     b
9     b
13    b
2     c
6     c
10    c
14    c
3     d
7     d
11    d
15    d
dtype: object

In [41]:
new.sort_index()

0     a
1     b
2     c
3     d
4     a
5     b
6     c
7     d
8     a
9     b
10    c
11    d
12    a
13    b
14    c
15    d
dtype: object

In [42]:
#dealing with missing data
x= pd.Series([2,4,5,3,np.nan,3,np.nan])
x

0    2.0
1    4.0
2    5.0
3    3.0
4    NaN
5    3.0
6    NaN
dtype: float64

In [44]:
x.isnull().sum()

np.int64(2)

In [47]:
x.fillna(2.5)

0    2.0
1    4.0
2    5.0
3    3.0
4    2.5
5    3.0
6    2.5
dtype: float64

In [49]:
x.fillna(x.mean())

0    2.0
1    4.0
2    5.0
3    3.0
4    3.4
5    3.0
6    3.4
dtype: float64

In [50]:
#ffill() bfill
x

0    2.0
1    4.0
2    5.0
3    3.0
4    NaN
5    3.0
6    NaN
dtype: float64

In [51]:
x.dropna()

0    2.0
1    4.0
2    5.0
3    3.0
5    3.0
dtype: float64